$ash:                 #b2beb5;
$black:               #000;
$blue-gray:           #69c;
$dark-cerulean:       #147;
$dark-orchid:         #93f;
$deep-saffron:        #f93;
$eggshell:            #f0ead6;
$egyptian:            #1034A6;
$midnight:            #003;
$navy:                #000080;
$ocean:               #0077be;
$prussian-blue:       #036;
$screamin-green:      #3f6;
$sky:                 #9cf;
$tangerine:           #fc0;
$white:               #fff;
$wild-strawberry:     #f39;
