@import "../partials/bootstrap";
@import "../partials/colors";

.location-content .detail-cell .location-label { display: none; }
.world-content > div {
  & > h2 { padding-top: 60px; }
  margin: 0 0 40px;
}

.detail-cell {
  .btn.float-right { margin: 0 -30px 20px 20px; }
}

.character-cell,
.location-cell {
  padding: 12px 48px;
  margin-bottom: 48px;
  &:before {
    display: block;
    position: absolute;
    margin-left: -48px;
    width: 48px;
    text-align: center;
    font-size: $h1-font-size;
    line-height: 0.5em;
  }
}
.character-label,
.location-label { &:before { margin-right: 6px; } }
.character-cell,
.character-label {
  &:before {
    background: $sky;
    content: '';
    display: inline-block;
    mask: url(~bootstrap-icons/icons/people-circle.svg) center/cover no-repeat;
    height: 0.75em;
    width: 0.75em;
  }
}
.character-cell:before {
  height: 0.5em;
  margin: 0.125em 0 0 -34px;
  width: 0.5em;
}
.location-cell,
.location-label {
  &:before {
    content: '⌂';
    color: $sky;
  }
}
.character-label + .character-label { margin-left: 10px; }

.contributor-cell {
  background: rgba($dark-cerulean, 0.25);
  border: 1px solid $ocean;
  margin-bottom: 16px;
  padding: 16px;
  &:hover { background: rgba($dark-cerulean, 0.75); }
}
.contributor-controls {
  width: 30px;
  a { display: block; }
}
.contributor-identity {
  margin-left: 30px;
  & > {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.contributor-permission {
  &:hover {
    color: $eggshell;
    text-decoration: none;
    &:after {
      background: rgba($white, 0.9);
      box-shadow: 0 0 5px rgba($black, 0.25);
      color: $ocean;
      position: absolute;
      margin: -4px 0 0 10px;
      padding: 4px 10px;
      text-align: left;
      white-space: nowrap;
    }
  }
  &.read {
    &:before { content: 'R'; }
    &:hover:after { content: '[READ] Click to allow write'; }
  }
  &.remove {
    color: $ash;
    &:before { content: '×'; }
    &:hover:after { content: 'Remove the contributor from the world'; }
  }
  &.write {
    &:before { content: 'W'; }
    &:hover:after { content: '[WRITE] Click to remove write permission'; }
  }
}

.remove-on-save { text-decoration: line-through; }

.sort-order {
  &:before {
    content: '↓';
    display: 'inline';
  }
  &.desc:before { content: '↑'; }
}

a.sort-toggler {
  text-decoration: none;
  .sort-toggler-indicator {
    background: $prussian-blue;
    border-radius: 20rem;
    display: inline-block;
    height: 1rem;
    margin-bottom: -0.1875rem;
    position: relative;
    width: 2rem;
    &:before {
      background: $ocean;
      border-radius: 20rem;
      content: '';
      display: inline-block;
      height: 1rem;
      position: absolute;
      width: 1rem;
    }
    &.right:before { right: 0; }
  }
}

.item-contains a:after {
  color: $text-muted;
  content: ', ';
  display: inline;
  text-decoration: none;
}
.item-contains a:last-child:after { content: ''; }

ul.list-hierarchical {
  list-style-type: none;
  margin: 0 0 0 0.5rem;
  padding: 0;
  li {
    &:before {
      content: '└';
      display: inline;
      float: left;
    }
    & > * {
      display: block;
      margin-left: 1.375rem;
    }
  }
}
