@import "../partials/colors";
@import "../partials/textures";

#header {
  background: $dark-cerulean;
  @include wavy-background-image;
  border-bottom: 1px solid $ocean;
  margin: 0 0 20px;
  h1,
  .header-user {
    margin: 15px 0;
    .dropdown:first-child { margin: 20px 0 10px; }
  }
}
